/************************************/
/* BELOW 896 px */
/************************************/

@media (max-width: 56em) {
  html {
    font-size: 50%;
  }

  .logo {
    height: 11.5rem;
  }
}

/************************************/
/* BELOW 608 px */
/************************************/

@media (max-width: 38em) {
  html {
    font-size: 40%;
  }

  .logo {
    height: 10rem;
  }
}

/************************************/
/* BELOW 448 px */
/************************************/

@media (max-width: 28em) {
  html {
    font-size: 30%;
  }

  .logo {
    height: 9rem;
  }
}

/************************************/
/* BELOW 336 px */
/************************************/

@media (max-width: 21em) {
  html {
    font-size: 25%;
  }

  .logo {
    height: 8.5rem;
  }
}
