/************************************/
/* HEADER */
/************************************/

.header {
  text-transform: uppercase;
  text-align: center;
  height: 95vh;
  background-image: linear-gradient(
      to bottom right,
      rgba(194, 166, 114, 0.7),
      rgba(91, 85, 26, 0.7)
    ),
    url("https://lh3.googleusercontent.com/KJc1cSIxiCgPa5KaGSi62hT2kiVcJWDCxAwBciAOMw0Jz7l2zkj5vJor1V_UivSXvJaxvSzPOVyMQ_BGrgzrgkXi40nOJEMkH0d7s9LPJR8bEGITE0vJV3cV4DMCSMvVTj2yXUoInQ=w2400");
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

.logo-box {
  /* max-width: */
  position: absolute;
  top: 3rem;
  left: 4rem;
}

.slogan-1-box,
.slogan-2-box,
.button-box {
  display: flex;
  justify-content: center;
}

.slogan-1-box {
  height: 45vh;
  align-items: flex-end;
}

.slogan-2-box {
  /* height: 15vh; */
  margin-bottom: 9rem;
}

.slogan-1 {
  font-weight: 400;
  letter-spacing: 0.58rem;
  font-size: 9rem;

  animation: moveInLeft 1s ease-out;
}

.slogan-2 {
  font-weight: 400;
  letter-spacing: 0.544rem;
  font-size: 4rem;

  animation: moveInRight 1s ease-out;
}

.button:link,
.button:visited {
  font-size: 2.4rem;
  letter-spacing: 0.321rem;
  text-decoration: none;
  padding: 3rem 5rem;
  border-radius: 5rem;
  position: relative;

  transition: all 0.2s;
}

.button:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.button-white {
  background-color: #fff;
  color: #4d4d4d;
}

.button-animated {
  animation: moveUp 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.button::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  transition: all 0.4s;
}

.button-white::after {
  background-color: #fff;
}

.button:hover::after {
  transform: scaleX(1.35) scaleY(1.45);
  opacity: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(4.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
